<a href="https://colab.research.google.com/github/Pexelevill/CSL348/blob/main/Probability.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('TSLA (1).csv')
df.head(8)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-08-08,295.000000,305.200012,289.086670,290.423340,290.423340,98994000
1,2022-08-09,290.293335,292.396667,279.353333,283.333344,283.333344,86244600
2,2022-08-10,297.066681,297.510010,283.369995,294.356659,294.356659,94918800
3,2022-08-11,296.513336,298.236664,285.833344,286.630005,286.630005,70155000
4,2022-08-12,289.416656,300.160004,285.033325,300.029999,300.029999,79657200
5,2022-08-15,301.786682,313.133331,301.230011,309.320007,309.320007,89359200
6,2022-08-16,311.666656,314.666656,302.883331,306.563324,306.563324,88136400
7,2022-08-17,303.396667,309.656677,300.033325,303.996674,303.996674,68766000

In [11]:
len(df)

251

In [12]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-08-08,295.000000,305.200012,289.086670,290.423340,290.423340,98994000
1,2022-08-09,290.293335,292.396667,279.353333,283.333344,283.333344,86244600
2,2022-08-10,297.066681,297.510010,283.369995,294.356659,294.356659,94918800
3,2022-08-11,296.513336,298.236664,285.833344,286.630005,286.630005,70155000
4,2022-08-12,289.416656,300.160004,285.033325,300.029999,300.029999,79657200
...,...,...,...,...,...,...,...
246,2023-08-01,266.260010,266.470001,260.250000,261.070007,261.070007,83166000
247,2023-08-02,255.570007,259.519989,250.490005,254.110001,254.110001,101752900
248,2023-08-03,252.039993,260.489990,252.000000,259.320007,259.320007,97569100
249,2023-08-04,260.970001,264.769989,253.110001,253.860001,253.860001,99242600
250,2023-08-07,251.449997,253.649994,242.759995,251.449997,251.449997,110939500

In [14]:
x = df['High']*5
x

0      1526.000060
1      1461.983335
2      1487.550050
3      1491.183320
4      1500.800020
          ...
246    1332.350005
247    1297.599945
248    1302.449950
249    1323.849945
250    1268.249970
Name: High, Length: 251, dtype: float64

In [17]:
pivot = df.iloc[0:78][['High','Low']]
pivot

          High         Low
0   305.200012  289.086670
1   292.396667  279.353333
2   297.510010  283.369995
3   298.236664  285.833344
4   300.160004  285.033325
..         ...         ...
73  185.190002  176.550003
74  176.770004  167.539993
75  170.919998  166.190002
76  183.619995  172.500000
77  185.199997  180.630005

[78 rows x 2 columns]

In [18]:
count = len(pivot[(pivot['High']>10) &(pivot['Low']>16)])
print(count)

78

In [24]:
count1 = len(pivot[pivot['High']>5])
print(count1)

78

In [25]:
count2 = len(pivot[(pivot['Low']>16)])
print(count2)

78

In [26]:
df['High'] = np.where(df['Low']*5 >= 80, 1, 0)